<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Alert from Water Quality Monitoring & Flood Detection Report, <%= @user.name %></h1>
<p>
  The water level is <%= @waterLevel %>
</p>

<p>
  A flood has been predicted in the area near you. Please evacuate as soon as possible to the nearest safe place.
</p>
</body>
</html>