<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to Water Quality Monitoring & Flood Detection Report, <%= @user.name %></h1>
<p>
  You have successfully signed up to Water Quality Monitoring & Flood Detection Report,
</p>
<p>
  To successfully confirm your credentials, just follow this link: <%= confirm_email_user_url(@user.confirm_token) %>.
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>